# EditorConfig is awesome: http://EditorConfig.org
# 代码风格配合
# top-most EditorConfig file
# 这就是根目录
root = true

[*]
charset = utf-8

indent_style = space
indent_size = 2

end_of_line = lf
#最后一行增加空行
insert_final_newline = true
#去除空格
trim_trailing_whitespace = true

[*.json]
indent_size = 4
